body {
  font-family: 'Arial', sans-serif;
  background-color: #e1f5fe;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1 {
  text-align: center;
  color: #10435f;
  font-size: 36px;
  margin-bottom: 30px;
}

div {
  margin-bottom: 20px;
}

.scrollable-box {
  width: 100%; /* Sesuaikan dengan kebutuhan */
  max-height: 200px; /* Maksimal tinggi kotak (bisa disesuaikan) */
  overflow-y: auto; /* Aktifkan scroll vertikal */
  border: 1px solid #ccc; /* Tambahkan border agar lebih terlihat */
  padding: 10px;
  background-color: #f9f9f9; /* Warna background opsional */
  font-family: monospace; /* Menggunakan font monospace agar lebih rapi untuk teks hasil */
  white-space: pre-wrap; /* Membungkus teks panjang dengan rapi */
}


label {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

input[type="file"], input[type="text"], button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0288d1;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #004468;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0277bd;
}

#fileSize, #encryptionTime, #decryptionTime {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

#encryptedFile, #encryptedAESKey {
  font-size: 16px;
  color: #000000;
  word-wrap: break-word;
}

button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

#decryptAESBtn, #decryptBtn, #downloadBtn, #downloadDecryptedBtn {
  margin-top: 10px;
}
